<template name="auto_preview">
<div class="auto_preview">
<button class="rotate_preview">Rotate preview</button>

<div class="holder {{preview_rotation}}" style="{{rotation_correction}}">
<!--  {{#if use_stored_preview}}
    {{{stored_preview}}}
  {{else}}-->

  {{#if updating_pattern}}
  <div class="spinner_outer" style="{{spinner_style}}">
    {{> spinner}}
  </div>
  {{/if}}

  <svg id="svg4413" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 {{viewbox_width}} {{viewbox_height}}"  shape-rendering="geometricPrecision" width="{{total_width}}">

  <!--{{#unless updating_pattern}}
    {{#each preview_cell}}
    {{#with data}}
      {{> auto_preview_element}}
    {{/with}}
  {{/each}}
  {{/unless}}-->

  {{#each row_indexes}}
    {{> auto_preview_row}}
  {{/each}}
  </svg>
  <!--{{/if}}-->

</div>

</div>
</template>

<template name="auto_preview_row">
{{#each tablet_indexes}}
  {{#with row=.. tablet=this}}
    {{> auto_preview_element}}
  {{/with}}
{{/each}}
</template>

<template name="auto_preview_element">
{{#with data row tablet}}
  {{> test}}
{{/with}}
</template>


<template name="test">
<g transform="translate({{x_offset}} {{y_offset}})"><path d="{{shape}}" stroke="#000" stroke-width="1.015" fill="{{color}}"/></g>
</template>
