<template name="auto_preview">
<div class="auto_preview {{preview_rotation}}">
<button class="rotate_preview">Rotate</button>

<div class="holder" style="{{rotation_correction}}">

  <svg id="svg4413" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 {{viewbox_width}} {{viewbox_height}}"  shape-rendering="geometricPrecision" width="{{total_width}}">

  {{#each row_indexes}}
    {{> auto_preview_row}}
  {{/each}}
  </svg>

</div>

</div>
</template>

<template name="auto_preview_row">
{{#each tablet_indexes}}
  {{#with row=.. tablet=this}}
    {{> auto_preview_element}}
  {{/with}}
{{/each}}
</template>

<template name="auto_preview_element">
{{#with data row tablet}}
  <g transform="translate({{x_offset}} {{y_offset}})"><path d="{{shape}}" stroke="#000" stroke-width="1.015" fill="{{color}}"/></g>
{{/with}}
</template>

<!--
<template name="test">
<g transform="translate({{x_offset}} {{y_offset}})"><path d="{{shape}}" stroke="#000" stroke-width="1.015" fill="{{color}}"/></g>
</template>-->
