<template name="broken_twill_row">
<div class="row">{{> row_number_bt}}<ul>{{#each tablet_indexes}}
  {{#with row=.. tablet=this}}
    {{> broken_twill_cell}}
  {{/with}}
{{/each}}
{{> remove_row}}
</ul></div>
</template>

<template name="broken_twill_cell">
{{#with broken_twill_data row tablet}}
<li class="cell no_select {{#if twill_reversal}}twill_reversal{{/if}}" style="background-color: {{background_color}}; background-image: url('{{image}}')">{{long_float}}
</li>
{{/with}}
</template>

<template name="row_number_bt">
<span class="row_number">{{row_number_double this}}</span>
</template>