<template name="editable_field">
<div class="box editable_field">
{{#if can_edit _id}}
  <div class="controls">
     <button class="edit">
    {{#if editing}}Done
    {{else}}{{button_text}}
    {{/if}}</button>
  </div>
{{/if}}
<div class="content">
{{#if editing}}
  {{#if multiple}}
  <textarea class="text_input">{{data}}</textarea>
  <span class="hint">You can use <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> to format text. For example: <ul>
    <li>*italic*</li>
    <li>**bold**</li>
    <li>[a link](http://example.com)</li>
    <li>* shopping list</li>
    <li>1. numbered list.</li>
  </ul></span>
  {{else}}
  <input type="text" class="text_input" value="{{data}}">
  {{/if}}
{{else}}
  {{#if data}}
  <span class="text">{{#markdown}}{{{data}}}{{/markdown}}</span>
  {{else}}
    {{#if can_edit _id}}
    {{#if placeholder_text}}
    <span class="text">{{placeholder_text}}</span>
    {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
</div>
{{#if error}}
<div class="error">
{{#markdown}}{{error}}{{/markdown}}
</div>
{{/if}}
</div>
</template>
