<template name="home">
{{#if Template.subscriptionsReady}}
{{> left_column}}
<div id="main_column">
{{> home_patterns}}
</div>
{{else}}
  Loading...
{{/if}}
</template>

<template name="left_column">
<div id="left_column">
<ul class="left_menu">
<li class="{{selected "home"}}"><a href="{{pathFor route='home'}}"><span>Home</span></a></li>
{{#with recent_patterns}}{{#if this.length}}
<li class="{{selected "recent_patterns"}}"><a href="{{pathFor route='recent_patterns'}}"><span>Recently viewed</span></a></li>
{{/if}}{{/with}}
<li class="{{selected "new_patterns"}}"><a href="{{pathFor route='new_patterns'}}"><span>New patterns</span></a></li>
{{#if currentUser}} 
<li class="{{selected "my_patterns"}}"><a href="{{pathFor route='my_patterns'}}"><span>My patterns</span></a></li>
{{/if}}
<li class="{{selected "all_patterns"}}"><a href="{{pathFor route='all_patterns'}}"><span>All patterns</span></a></li>
<li class="{{selected "users"}}"><a href="{{pathFor route='users'}}"><span>People</span></a></li>
</ul>
</div>
</template>

<template name="home_patterns">
  <div class="introduction">
  <p>Welcome to Twisted Threads, the online app for tablet weaving. You can use Twisted Threads to design, weave and share patterns.</p>
  <p>Tablet weaving is an ancient craft known around the world by different names including card weaving, brettchen weberei, brikvævning and tissage &agrave; carton.</p>
  <p>Join our <a href="https://www.facebook.com/groups/927805953974190/">Facebook group</a> if you'd like to discuss Twisted Threads with other users or share feedback with the app developer.</p>
</div>
  {{#if currentUser}}
  {{> create_new_pattern}}
  {{else}}
  <p>Sign in to create and share patterns.</p>
  {{/if}}

{{#with recent_patterns true}}{{#if this.length}}
<h2 style="width: {{header_width}}px"><a href="{{pathFor route='recent_patterns'}}"><span class="text">Recently viewed</span><span class="more">See more</span></a></h2>
<div class="wrapper">
<ul class="patterns">
{{#each this}}
{{> pattern_thumbnail}}
{{/each}}
</ul>
</div>
{{else}}
<p>Select a pattern and start weaving.</p>
{{/if}}{{/with}}

{{#with new_patterns true}}{{#if this.count}}
<h2 style="width: {{header_width}}px"><a href="{{pathFor route='new_patterns'}}"><span class="text">New patterns</span><span class="more">See more</span></a></h2>
<div class="wrapper">
<ul class="patterns">
{{#each this}}
{{> pattern_thumbnail}}
{{/each}}
</ul></div>
{{/if}}{{/with}}

{{#if currentUser}}
{{#with my_patterns true}}{{#if this.count}}
<h2 style="width: {{header_width}}px"><a href="{{pathFor route='my_patterns'}}"><span class="text">My patterns</span><span class="more">See more</span></a></h2>
<div class="wrapper">
<ul class="patterns">
{{#each this}}
{{> pattern_thumbnail}}
{{/each}}
</ul></div>
{{/if}}{{/with}}
{{/if}}

{{#with not_recent_patterns true}}{{#if this.count}}
<h2 style="width: {{header_width}}px"><a href="{{pathFor route='all_patterns'}}"><span class="text">All patterns</span><span class="more">See more</span></a></h2>
<div class="wrapper">
<ul class="patterns">
{{#each this}}
{{> pattern_thumbnail}}
{{/each}}
</ul></div>
{{/if}}{{/with}}

{{#with users true}}{{#if this.count}}
<h2 style="width: {{header_width}}px"><a href="{{pathFor route='users'}}"><span class="text">People</span><span class="more">See more</span></a></h2>
<div class="wrapper">
<ul class="users">
{{#each this}}
{{> user_thumbnail}}
{{/each}}
</ul></div>
{{/if}}{{/with}}
</template>

<template name="create_new_pattern">
<div id="new_pattern">
  <form>
    <label for="num_tablets">Tablets:</label>
    <input type="number" placeholder="Tablets..." id="num_tablets" min="1" max="100" size="3" value="12" ><br/>
    <label for="num_rows">Rows:</label>
    <input type="number" placeholder="Rows..." id="num_rows" min="1" max="100" value="8" ><br/>
    <label for="pattern_name">Name:</label>
    <input type="text" placeholder="Pattern name..." id="pattern_name" size="100" ><br/>
    <input type="submit" value="Create a new pattern">
  </form>
</div>
</template>

<template name="pattern_thumbnail"><li class="pattern_thumbnail {{#if private}}private{{/if}}" style="width: {{width}}; margin-right: {{rmargin}}" >
<div class="main">
<a href="{{pathFor route='pattern'}}">
<h3>{{name}}</h3>
<div class="description">{{description}}</div>
<div class="tags">{{#each tags}}<span>{{this}}</span>{{/each}}</div>
<div class="stats"><span class="number_of_tablets" title="Number of tablets"><span class="icon"></span><span class="text">{{number_of_tablets}}</span></span></div>
<div class="image"><img src="{{thumbnail_url}}" class="thumbnail" width="232" height="36"/></div>
</a></div>
<div class="footer"><a href="{{pathFor route='user' _id=created_by}}" class="created_by">{{created_by_username}}</a>{{#if can_edit_pattern _id}}
<a href="#" id="delete" title="Delete this pattern"><span></span></a>
{{#if private}}
<a href="#" id="toggle_private" class="private" title="Private: nobody else can see this pattern"><span></span></a>
{{else}}
<a href="#" id="toggle_private" class="public" title="Public: other people can see this pattern but they can't edit it"><span></span></a>
{{/if}}{{/if}}</div>
</li>
</template>


<template name="user_thumbnail"><li class="user_thumbnail" style="width: {{width}}; margin-right: {{rmargin}}" >
<div class="main">
<a href="{{pathFor route='user' _id=_id}}">
<h3>{{username}}</h3>
<div class="description">{{profile.description}}</div>
<div class="stats">
<span class="number_of_patterns" title="Number of patterns"><span class="icon"></span><span class="text">{{number_of_patterns}}</span></span>
</div>
<div class="image"><img src="{{thumbnail_url}}" class="thumbnail" width="108" height="108" style="background-color:{{background _id}};" /></div>

</a>
</div>
</li>
</template>

<template name="filter_on_tablets">
<div class="filter"><p>
Only show patterns with between
<input type="number" placeholder="Number" id="min_tablets" min="1" max="500" size="3" value="{{min_tablets}}">and
<input type="number" placeholder="Number" id="max_tablets" min="1" max="500" size="3" value="{{max_tablets}}">tablets
</p></div>
</template>


