<template name="image">
  <div class="image_holder">
    <!-- image info -->
    <div class="image_info">
      {{#if own_image}}
      <input type="button" class="delete_image" value="Delete" />
      {{#unless equals role "preview"}}
      <!--<input type="button" class="make_preview" value="Use as preview" />-->
      {{/unless}}
      {{/if}}
    </div>

    <!-- the image -->
    <div class="thumbnail">
      <input type="button" class="close" value="Close" />
       <div class="image" style="background-image: url('{{url}}'); width: {{scaled_width role}}px; height: {{scaled_height role}}px"></div>
    </div>

    <div class="full_image">
      <input type="button" class="close" value="Close" />
      <div class="wrapper" style="width: {{width}}px; height: {{height}}px;">

        <div class="image" style="background-image: url('{{url}}'); width: {{full_image_width}}px; height: {{full_image_height}}px; max-width: {{max_image_width}}px!important; max-height: {{max_image_height}}px!important;"></div>
        <div class="caption">
        {{> editable_field extendContext collection="images" multiple=true property="caption" data=caption button_text="Edit caption" placeholder_text="Tap \"Edit caption\" to enter a caption"}}
      </div>
      </div>
      
    </div>
  </div>
</template>
