<template name="my_patterns">
{{#if Template.subscriptionsReady}}
{{> left_column}}
<div id="main_column">
{{#if currentUser}}
{{#with currentUser}}
<h1>{{username}}</h1>
<div class="user_info">
{{> editable_field extendContext collection="users" property="description" data=profile.description multiple=true button_text="Edit profile" placeholder_text="Tap \"Edit description\" to enter a description"}}
</div>

{{> create_new_pattern}}
{{/with}}

{{#with my_patterns}}{{#if this.count}}
<h2>My patterns</h2>
{{> filter_on_tablets}}
<div class="results">
<ul class="patterns">
{{> pages}}
</ul>
</div>
{{> pagesNav}}
{{/if}}{{/with}}

{{else}}
Sign in or create an account.
{{/if}}
</div>
{{else}}
  Loading...
{{/if}}
</template>


