<template name="pattern_as_text">
{{#if Template.subscriptionsReady}}
<div id="pattern_as_text" class="{{show_pattern_as_text}}"><div class="inner_tube">
<div class="buttons">
  <input type="button" class="close" value="Close" >
</div>
  <h2>{{name}} (JSON)</h2>
  <p>Copy the text below into a text editor and save it with the file extension .json.</p>
<div class="buttons select">
  <input type="button" class="select" value="Select text" >
</div>
  <textarea>{{pattern_as_json}}</textarea>
</div></div>
{{/if}}
</template>

<template name="row_number">
<span class="row_number">{{this}}</span>
</template>

<!--<li class="cell no_select {{forward_stroke}} {{backward_stroke}}" style="background-color: {{background_color}}; background-image: url('{{image}}')"><span class="line_forward" style="background-color: {{line_color}}"></span><span class="line_backward" style="background-color: {{line_color}}"></span></li>
</template>-->

<template name="stroke_svgs">
<svg class="forward_stroke">
  <symbol id="forward_stroke_symbol">
      <g><ellipse rx="140.42" transform="rotate(-45)"  ry="70.214" cy="180.72" cx="-.33336" stroke-width="9.9099" /></g>
  </symbol>
</svg>

<svg class="backward_stroke">
  <symbol id="backward_stroke_symbol">
      <g><ellipse rx="140.42" transform="matrix(-.70711 -.70711 -.70711 .70711 0 0)" ry="70.214" cy=".33336" cx="-180.72" stroke-width="9.9099" /></g>
  </symbol>
</svg>
</template>

<template name="pattern_cell">
<li class="cell no_select" style="background-color: {{background_color}}; background-image: url('{{image}}')">
{{#if equals forward_stroke "forward_stroke"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#forward_stroke_symbol" x="0" y="0"/>
</svg>
{{else}}
{{#if equals backward_stroke "backward_stroke"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#backward_stroke_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{/if}}
</li>
</template>

<template name="column_numbers">
<div class="row column_number"><span class="spacer"></span><ul>
{{#each tablet_indexes}}
<li class="no_select">{{this}}</li>
{{/each}}</ul></div>
</template>




