<template name="pattern_as_text">
{{#if Template.subscriptionsReady}}
<div id="pattern_as_text" class="{{show_pattern_as_text}}"><div class="inner_tube">
<div class="buttons">
  <input type="button" class="close" value="Close" >
</div>
  <h2>{{name}} (JSON)</h2>
  <p>Copy the text below into a text editor and save it with the file extension .json.</p>
<div class="buttons select">
  <input type="button" class="select" value="Select text" >
</div>
  <textarea>{{pattern_as_json}}</textarea>
</div></div>
{{/if}}
</template>

<template name="row_number">
<span class="row_number">{{this}}</span>
</template>

<template name="warp_svgs">
<div id="template_warp_svgs">
<svg class="forward_warp">
  <symbol id="forward_warp_symbol">
      <g><ellipse rx="140.42" transform="rotate(-45)"  ry="70.214" cy="180.72" cx="-.33336" stroke-width="9.9099" /></g>
  </symbol>
</svg>

<svg class="backward_warp">
  <symbol id="backward_warp_symbol">
      <g><ellipse rx="140.42" transform="matrix(-.70711 -.70711 -.70711 .70711 0 0)" ry="70.214" cy=".33336" cx="-180.72" stroke-width="9.9099" /></g>
  </symbol>
</svg>

<svg class="v_left_warp">
  <symbol id="v_left_warp_symbol">
      <g> <ellipse rx="116.44" ry="70.643" transform="matrix(0,-1,-1,0,0,0)" cy="-82.313" cx="-127.41" stroke-width="9.0518" /></g>
  </symbol>
</svg>

<svg class="v_center_warp">
  <symbol id="v_center_warp_symbol">
      <g><ellipse rx="116.44" ry="70.643" transform="matrix(0,-1,-1,0,0,0)" cy="-126.31" cx="-127.41" stroke-width="9.0518" /></g>
  </symbol>
</svg>

<svg class="v_right_warp">
  <symbol id="v_right_warp_symbol">
      <g><ellipse rx="116.44" ry="70.643" transform="matrix(0,-1,-1,0,0,0)" cy="-174.31" cx="-127.41" stroke-width="9.0518" /></g>
  </symbol>
</svg>

<svg class="forward_empty">
  <symbol id="forward_empty_symbol">
      <g><path stroke-width="10" d="m254.43 2.803-252.55 250.71h-0.62053"/></g>
  </symbol>
</svg>

<svg class="backward_empty">
  <symbol id="backward_empty_symbol">
      <g><path stroke-width="10" d="m2.4708 2.7978 252.56 250.71h0.62053"/></g>
  </symbol>
</svg>
</div>

</template>

<template name="pattern_cell">
{{#with weaving_cell_data row tablet type}}
<li class="cell no_select" style="background-color: {{background_color}}; background-image: url('{{image}}')">
  {{> pattern_cell_svg}}
</li>
{{/with}}
</template>

<template name="pattern_cell_svg">
{{#if equals warp "forward"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#forward_warp_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals warp "backward"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#backward_warp_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals warp "v_left"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#v_left_warp_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals warp "v_center"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#v_center_warp_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals warp "v_right"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#v_right_warp_symbol" x="0" y="0"/>
</svg>
{{/if}}

{{#if equals warp "forward_empty"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#forward_empty_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals warp "backward_empty"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#backward_empty_symbol" x="0" y="0"/>
</svg>
{{/if}}
</template>

<template name="column_numbers">
<div class="row column_number"><span class="spacer"></span><ul>
{{#each tablet_indexes}}
<li class="no_select">{{this}}</li>
{{/each}}</ul></div>
</template>




