<template name="print_pattern">
  {{> warp_svgs}}
<div id="print_hint" class="visible"><div class="inner_tube">
<input type="button" class="close" value="Close" >
<h2>Check your print settings</h2>
<p>Look at the print preview to see if your browser is set up to print background colours. If it isn't, your pattern will be printed as outlines only.</p>
<p>If you're not sure how to change the print settings, try searching the web for instructions, for example "Firefox print background color" or "Internet Explorer 10 print background color".</p>
<p>Important! After printing your pattern, you may want to change the settings back so you won't waste ink when printing standard web pages.</p>
</div></div>
<h1>{{name}}</h1>
<p class="url">Printed from {{hostname}}{{pathFor route='pattern'}}</p>
<p class="created_by">Created by {{created_by}}</p>
<div class="pattern view">{{> column_numbers}}
{{#each row_indexes}}
<div class="row"><span class="row_number">{{this}}</span><ul>{{#each weaving_row this}}
{{#with cell_style}}
{{> pattern_cell}}
{{/with}}
{{/each}}</ul></div>
{{/each}}
</div>

<div class="tablets">{{> column_numbers}}
{{#each hole_indexes}}
<div class="row"><span class="hole_number">{{hole_label this}}</span><ul>{{#each threading_hole this}}
{{#with cell_style}}
{{> pattern_cell}}
{{/with}}
{{/each}}</ul></div>
{{/each}}
{{> orientation}}
</div>
<br/>
<div class="notation">
<img src="../../images/tablet_labels.png" alt="Tablet labels" title="Labels and turning direction" width="237" height="148"/>
</div>
<br/>
</template>
