<template name="user">
{{#if Template.subscriptionsReady}}
{{#if user_patterns_exist}}
<h2>{{username}}</h2>
<div class="user_info">
{{> editable_field extendContext collection="users" property="profile" data=profile multiple=true button_text="Edit profile" placeholder_text="Tap \"Edit profile\" to enter a profile"}}
</div>

<h2>{{username}}'s patterns</h2>
<ul class="patterns">
{{#each user_patterns _id}}
{{> pattern_overview}}
{{/each}}
</ul>
{{else}}
{{username}} has not created any patterns yet.
{{/if}}
{{/if}}
</template>

<template name="user_not_found">
  <h2>User not found: {{id}}</h2>
</template>
