<template name="user">
{{#if Template.subscriptionsReady}}
{{#if show_description _id}}
<h2>{{username}}</h2>
<div class="user_info">
{{> editable_field extendContext collection="users" property="description" data=profile.description multiple=true button_text="Edit profile" placeholder_text="Tap \"Edit description\" to enter a description"}}
</div>
{{/if}}

{{#if user_patterns_exist _id}}
<h2>{{username}}'s patterns</h2>
<ul class="patterns">
{{#each user_patterns _id}}
{{> pattern_overview}}
{{/each}}
</ul>
{{else}}
{{username}} has not created any patterns yet.
{{/if}}
{{/if}}
</template>

<template name="user_not_found">
  <h2>User not found: {{id}}</h2>
</template>
