<template name="view_pattern">
{{#if Template.subscriptionsReady}}
{{> pattern_as_text}}
{{> warp_svgs}}

<div id="main_tabs">
<ul>
  <li class="summary {{is_selected_main_tab "summary"}}" ><a>Summary</a></li>
  <li class="charts {{is_selected_main_tab "charts"}}" ><a>Threading and weaving charts</a></li>
</ul>

<div class="keyline">&nbsp;</div>
</div>

<div class="pattern_info">
  <div class="name">
  {{> editable_field extendContext collection="patterns" property="name" data=name button_text="Edit name"}}
  </div>
</div>

{{#if equals view_pattern_mode "charts"}}
  {{#if equals edit_mode "simulation"}}
    <div class="hint {{rendered_manual}}">
      {{#if can_create_pattern}}Select thread colours from the threading styles palette at the bottom of the screen, then click tablet cells to set their colour.<br>{{/if}}
    </div>

    <div class="pattern_info">
      {{> editable_field extendContext collection="patterns" property="weaving_notes" data=weaving_notes multiple=true button_text="Edit weaving notes" placeholder_text="Tap \"Edit weaving notes\" to enter weaving notes"}}
    </div>

     <button class="styled_button" disabled="{{no_weaving_rows}}" onclick="Meteor.my_functions.start_weaving('{{no_weaving_rows}}');">View interactive weaving chart</button>

    {{#if can_edit_pattern _id}}
<div id="toolbar" class="{{simulation_mode}}"><div class="inner_tube">
  <div class="tabs">
    <ul>
      <li class="auto {{is_selected_simulation_mode "auto"}}"><a>Auto</a></li>
      <li class="manual {{is_selected_simulation_mode "manual"}}"><a>Manual</a></li>
    </ul>
  </div>

<div class="content {{simulation_mode}}">
  {{#if equals simulation_mode "auto"}}
    <h3>Auto weaving schedule</h3>
    <span class="hint">Turn all tablets together, forward (F) or backwards (B)</span>

    <label for="num_auto_turns">Number of weaving rows:</label>
    <input type="number" placeholder="Rows..." id="num_auto_turns" min="1" max="32" size="3" value="{{auto_turn_sequence.length}}" > (max 32)<br/>
    <div class="auto_directions">
      {{#each auto_turn_sequence}}
        <span class="direction">
          {{this.direction}}
        </span>
      {{/each}}
    </div>

    <span class="hint">
      {{#if does_pattern_repeat}}
      Number of pattern repeats shown: {{auto_repeats}}
      {{else}}
      The pattern will not repeat
      {{/if}}
    </span>

  {{else}}
      <h3>Manual weaving schedule</h3>
      <span class="hint">Design your pattern row by row, turning each pack of tablets separately.</span>

      <div class="packs">
        <ul>
          {{#each packs}}
          <li class="row">
            <span class="pack_number">
              pack {{this.pack_number}}
            </span>

            <span class="direction">
              {{this.direction}}
            </span>

            <input type="number" placeholder="Turns..." id="num_manual_turns" min="0" max="3" size="2" value="{{this.number_of_turns}}" >

            <ul class="tablets">
            {{#each this.tablets}}
              <li class="{{#if selected}}selected{{/if}}">
                {{tablet}}
              </li>
            {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </div>

      <span class="hint">
      {{#if does_pattern_repeat}} 
        {{#if equals number_of_rows 0}}
          Click "weave" to add a row
        {{else}}
          The pattern will repeat
        {{/if}}
      {{else}}
        The pattern will not repeat
      {{/if}}
      </span>

      <div class="weave_buttons">
        <button id="weave" class="styled_button" disabled="{{weave_disabled}}">Weave</button>
        <button id="unweave" class="styled_button" disabled="{{no_weaving_rows}}">Unweave</button>
      </div>
      <span class="hint rows">Rows: {{number_of_rows}}</span>
      <div class="clearing"></div>
    {{/if}}

</div></div>
</div>
  {{/if}}
{{/if}}
{{/if}}

{{> auto_preview}}

{{#if equals view_pattern_mode "summary"}}
  <div class="pattern_info">
    <div class="box summary">
  <span class="tablets_count" title="{{number_of_tablets}} tablets"><span class="icon"></span>{{number_of_tablets}}</span><a href="{{pathFor route='user' _id=created_by}}"><span class="created_by" title="Created by {{created_by_username}}"><span class="icon"></span>{{created_by_username}}</span></a>
  </div>
  <br>

  {{#if can_edit_pattern _id}}
  <div class="box tags"><span class="text">Tags: </span>{{> tagInput}}</div>
  {{else}}
  <div class="box tags">{{> tags}}</div>
  {{/if}}
  <br>
  {{#if can_edit_pattern _id}}
    {{#if isInRole 'verified' 'users'}}
      {{#if image_limit_reached}}
        You have added the maximum allowed number of pictures to this pattern.
      {{else}}
        {{#if show_image_uploader}}
          {{> image_uploader}}
        {{else}}
          <button class="show_image_uploader">Add pictures</button>
        {{/if}}
      {{/if}}
    {{else}}
      In order to add images, please verify your email address. <a href="{{pathFor route='account_settings'}}">More information</a>
    {{/if}}
  {{/if}}

  <div id="pattern_images">
  {{#each pattern_image}}
    {{> image}}
  {{/each}}
  </div>
  <div class="clearing"></div>

  {{#if can_edit_pattern _id}}<div class="box private">
  <div class="controls"><button class="toggle_private">{{#if private}}Make pattern public{{else}}Make pattern private{{/if}}</button></div>
  <div class="content">{{#if private}}Private: nobody else can see this pattern.{{else}}Public: other people can see and weave this pattern but they can't edit or delete it.{{/if}}</div>
  </div>{{/if}}

  {{> editable_field extendContext collection="patterns" property="description" data=description multiple=true button_text="Edit description" placeholder_text="Tap \"Edit description\" to enter a description"}}

  </div>

  <span class="done_loading {{rendered_manual}}"></span>

{{/if}}

{{#if equals view_pattern_mode "charts"}}
  {{#unless equals edit_mode "simulation"}}
    <h2>Weaving Chart</h2>

    <div class="hint">
      {{#if can_create_pattern}}Select styles from the palette at the bottom of the screen, then click chart cells to set their style.<br>{{/if}}
    </div>

    <div class="pattern_info">
      {{> editable_field extendContext collection="patterns" property="weaving_notes" data=weaving_notes multiple=true button_text="Edit weaving notes" placeholder_text="Tap \"Edit weaving notes\" to enter weaving notes"}}

      <button class="styled_button" disabled="{{no_weaving_rows}}" onclick="Meteor.my_functions.start_weaving('{{no_weaving_rows}}');">View interactive weaving chart</button>
    </div>

    {{#if can_edit_pattern _id}}
    <div id="toolbar" ><div class="inner_tube">
    <button id="undo" disabled="{{undo_disabled}}" title="Undo">
    {{#if equals undo_disabled "disabled"}}
    <img src="../images/undo_disabled.svg" onerror="this.src='/images/undo_disabled.png';this.onerror=null;" width="32" height="32" >{{else}}
    <img src="../images/undo.svg" onerror="this.src='/images/undo.png';this.onerror=null;" width="32" height="32" >
    {{/if}}</button>
    <button id="redo" disabled="{{redo_disabled}}" title="Redo">
    {{#if equals redo_disabled "disabled"}}
    <img src="../images/redo_disabled.svg" onerror="this.src='/images/redo_disabled.png';this.onerror=null;" width="32" height="32" >{{else}}
    <img src="../images/redo.svg" onerror="this.src='/images/redo.png';this.onerror=null;" width="32" height="32" >
    {{/if}}</button>
    <button id="add_row_at_start" title="Add row at bottom"><img src="/images/row_bottom.svg" onerror="this.src='/images/row_bottom.png';this.onerror=null;" width="32" height="32" ></button>
    <button id="add_row_at_end" title="Add row at top"><img src="/images/row_top.svg" onerror="this.src='/images/row_top.png';this.onerror=null;" width="32" height="32" ></button>
    <button id="add_tablet_at_start" title="Add tablet at left"><img src="/images/tablet_left.svg" onerror="this.src='/images/tablet_left.png';this.onerror=null;" width="32" height="32" ></button>
    <button id="add_tablet_at_end" title="Add tablet at right"><img src="/images/tablet_right.svg" onerror="this.src='/images/tablet_right.png';this.onerror=null;" width="32" height="32" ></button>
    </div></div>

    {{/if}}

    <div class="pattern view {{#if can_edit_pattern _id}}editable{{/if}} {{rendered_manual}}">
    {{> column_numbers}}
    {{#each row_indexes}}
    {{> pattern_row}}
    {{/each}}{{#if can_remove_tablets}}<div class="row"><span class="spacer"></span><ul>
    {{#each tablet_indexes}}
    {{> remove_tablet}}
    {{/each}}</ul></div>{{/if}}
    </div>

     {{#if can_edit_pattern _id}}
    <div class="edit_rows">
      <button id="add_row">Add row</button> at 
      <input type="number" placeholder="Position..." id="row_to_add" min="1" max="{{add_row_positions}}" size="3" value="1" ><br />
    </div>
    {{/if}}

  {{/unless}}

  <h2>Tablets</h2>
  <div class="pattern_info">
    {{> editable_field extendContext collection="patterns" property="threading_notes" data=threading_notes multiple=true button_text="Edit threading notes" placeholder_text="Tap \"Edit threading notes\" to enter threading notes"}}
  </div>
   
  <div class="tablets {{#if can_edit_pattern _id}}editable{{/if}}">{{> column_numbers}}
    {{#each hole_indexes}}
      {{> threading_row}}
    {{/each}}
    {{> orientation}}

    {{#if can_edit_pattern _id}}
    <div id="edit_tablets">
      <button id="add_tablet" disabled="{{#unless equals can_add_tablets true}}disabled{{/unless}}">Add tablet</button> at 
      <input type="number" placeholder="Position..." id="tablet_to_add" min="1" max="{{add_tablet_positions}}" size="3" value="1" ><br />
      {{#if equals edit_mode "simulation"}}
        <button id="remove_tablet" disabled="{{#unless equals can_remove_tablets true}}disabled{{/unless}}">Remove tablet</button>  
        <input type="number" placeholder="Position..." id="tablet_to_remove" min="1" max="{{tablet_indexes.length}}" size="3" value="1" >
      {{/if}}
    </div>
    {{/if}}

  </div>

  <div class="notation">
  <img src="{{#if equals hole_handedness "clockwise"}}/images/tablet_labels.png{{else}}/images/tablet_labels_rev.png{{/if}}" alt="Tablet labels" title="Labels and turning direction" width="237" height="148"/>

  {{#if can_edit_pattern _id}}
  <br/><button id="change_handedness" title="Change direction of the hole labels">Change direction of ABCD</button>
  {{/if}}
  </div>
  
  
{{/if}}

{{/if}}
</template>

<template name="pattern_row">
  <div class="row">{{> row_number}}
    <ul>
{{#each tablet_indexes}}
  {{#with row=.. tablet=this}}
    {{> pattern_cell}}
  {{/with}}
{{/each}}
{{> remove_row}}
    </ul>
  </div>
</template>

<template name="remove_row">
{{#if can_remove_rows}}<li class="cell no_select remove_row" title="Delete this row" >X</li>{{/if}}
</template>

<template name="remove_tablet">
<li class="no_select remove_tablet" title="Delete this tablet" >X</li>
</template>

<template name="threading_row">
<div class="row"><span class="hole_number">{{hole_label this}}</span><ul>{{#each tablet_indexes}}
  {{#with row=.. tablet=this type="threading"}}
    {{> pattern_cell}}
  {{/with}}
{{/each}}</ul></div>
</template>

<template name="styles_palette">{{#if can_edit_pattern _id}}
<div id="styles_palette" class="{{#if single_column}}single_column{{/if}} {{editing_text}} {{show_special_styles}} {{#if equals view_pattern_mode "charts"}}visible{{/if}} {{edit_mode}} ">
<div class="styles">
<div class="edit_style {{editing_style}}">
{{#if equals edit_mode "simulation"}}
<h2>Thread colour</h2>
{{else}}
<h2>Background</h2>
{{/if}}
<div class="colorpicker_holder"><input type="text" id="background_colorpicker"></div>
{{#unless equals edit_mode "simulation"}}
<h2>Warp thread</h2>
<div class="colorpicker_holder"><input type="text" id="line_colorpicker"></div>
<ul class="warps">
  {{#each edit_style_warp warp}}
    <li class="{{#if equals on true}}on{{/if}}" title="{{title}}" onclick="Meteor.my_functions.edit_style_warp('{{new_warp}}');">
      <svg viewBox="0 0 256 256">
        <use style="fill: #FFFFFF; stroke: {{#if equals on true}}{{selected_stroke}}{{else}}#666666{{/if}};" xlink:href="{{symbol}}" x="0" y="0"/>
    </svg>
    </li>
  {{/each}}
</ul>
{{/unless}}
</div>
<div class="pagination"><ul>
{{#if single_column}}
<li class="styles_1 no_select {{is_selected_style_palette "styles_1"}}"><a onclick="Meteor.my_functions.styles_pagination_clicked('styles_1');">Styles 1</a></li>
<li class="styles_2 no_select {{is_selected_style_palette "styles_2"}}"><a onclick="Meteor.my_functions.styles_pagination_clicked('styles_2');">Styles 2</a></li>
{{else}}
<li class="all_styles no_select {{is_selected_style_palette "all_styles"}}"><a onclick="Meteor.my_functions.styles_pagination_clicked('all_styles');">{{#if equals edit_mode "simulation"}}Threading styles{{else}}Styles{{/if}}</a></li>
{{/if}}
<li class="special no_select {{is_selected_style_palette "special"}}"><a onclick="Meteor.my_functions.styles_pagination_clicked('special');">Special</a></li>
</ul></div>

<input type="button" id="edit_style_button" class=" {{editing_style}}" value="Edit style" onclick="Meteor.my_functions.edit_style_clicked();">
<div class="box {{style_page_class}}">{{#each style_pages}}<ul class="row style">{{#each styles this}}{{#with weaving_cell_data 0 0 "styles"}}{{> style_cell}}{{/with}}{{/each}}</ul>{{/each}}
<div class="special_styles"><ul class="row special">{{#each special_styles}}{{#with weaving_cell_data 0 0 "special_styles"}}{{> style_cell}}{{/with}}{{/each}}</ul></div></div></div></div>
{{/if}}</template>

<template name="style_cell">
<li class="cell no_select {{is_selected_style style}}" title="{{this.tooltip}}" style="background-color: {{background_color}}; background-image: url('{{image}}')" onclick="Meteor.my_functions.style_cell_clicked('{{style}}', '{{special_style}}');">
{{> pattern_cell_svg}}
</li>
</template>

<template name="orientation">
<div class="row orientation {{#if can_edit_pattern _id}}editable{{/if}}"><span class="spacer"></span><ul>
{{#each tablet_orientation}}
<li class="no_select {{style_orientation orientation}}" title="Click to change orientation"><span class="line"></span></li>
{{/each}}</ul></div>
<div class="hint"><span class="spacer"></span>Slope of line = angle of tablet viewed from above</div>
</template>

<template name="pattern_not_found">
<h2>Pattern not found: {{id}}</h2>
</template>




