<template name="view_pattern">
{{#if Template.subscriptionsReady}}
{{> pattern_as_text}}
{{> stroke_svgs}}
<div class="pattern_info">
{{> editable_field extendContext collection="patterns" property="name" data=name button_text="Edit name"}}
<!--{{> upload_semanticUI fileTypes='.jpg, .png, .gif' callbacks=myCallbacks}}-->
{{#if can_edit_pattern _id}}
{{else}}
<div class="box summary">
<span class="tablets_count" title="{{number_of_tablets}} tablets"><span class="icon"></span>{{number_of_tablets}}</span><a href="{{pathFor route='user' _id=created_by}}"><span class="created_by" title="Created by {{created_by_username}}"><span class="icon"></span>{{created_by_username}}</span></a>
</div>
{{/if}}

{{#if can_edit_pattern _id}}<div class="box private">
<div class="controls"><button class="toggle_private">{{#if private}}Make pattern public{{else}}Make pattern private{{/if}}</button></div>
<div class="content">{{#if private}}Private: nobody else can see this pattern.{{else}}Public: other people can see and weave this pattern but they can't edit or delete it.{{/if}}</div>
</div>{{/if}}

{{> editable_field extendContext collection="patterns" property="description" data=description multiple=true button_text="Edit description" placeholder_text="Tap \"Edit description\" to enter a description"}}

{{#if can_edit_pattern _id}}
<div class="box tags"><span class="text">Tags: </span>{{> tagInput}}</div>
{{else}}
<div class="box tags">{{> tags}}</div>
{{/if}}
</div>

<h2>Weaving Chart</h2>
<div class="pattern_info">
{{> editable_field extendContext collection="patterns" property="weaving_notes" data=weaving_notes multiple=true button_text="Edit weaving notes" placeholder_text="Tap \"Edit weaving notes\" to enter weaving notes"}}
</div>
{{#if can_edit_pattern _id}}
<div id="toolbar" ><div class="inner_tube">
<button id="undo" disabled="{{undo_disabled}}" title="Undo">
{{#if equals undo_disabled "disabled"}}
<img src="../images/undo_disabled.svg" onerror="this.src='/images/undo_disabled.png';this.onerror=null;" width="32" height="32" >{{else}}
<img src="../images/undo.svg" onerror="this.src='/images/undo.png';this.onerror=null;" width="32" height="32" >
{{/if}}</button>
<button id="redo" disabled="{{redo_disabled}}" title="Redo">
{{#if equals redo_disabled "disabled"}}
<img src="../images/redo_disabled.svg" onerror="this.src='/images/redo_disabled.png';this.onerror=null;" width="32" height="32" >{{else}}
<img src="../images/redo.svg" onerror="this.src='/images/redo.png';this.onerror=null;" width="32" height="32" >
{{/if}}</button>
<button id="add_row_at_start" title="Add row at bottom"><img src="../images/row_bottom.svg" onerror="this.src='/images/row_bottom.png';this.onerror=null;" width="32" height="32" ></button>
<button id="add_row_at_end" title="Add row at top"><img src="../images/row_top.svg" onerror="this.src='/images/row_top.png';this.onerror=null;" width="32" height="32" ></button>
<button id="add_tablet_at_start" title="Add tablet at left"><img src="../images/tablet_left.svg" onerror="this.src='/images/tablet_left.png';this.onerror=null;" width="32" height="32" ></button>
<button id="add_tablet_at_end" title="Add tablet at right"><img src="../images/tablet_right.svg" onerror="this.src='/images/tablet_right.png';this.onerror=null;" width="32" height="32" ></button>
</div></div>{{/if}}
<div class="pattern view {{#if can_edit_pattern _id}}editable{{/if}}">
{{> column_numbers}}
{{#each row_indexes}}
{{> pattern_row}}
{{/each}}{{#if can_remove_tablets}}<div class="row"><span class="spacer"></span><ul>
{{#each tablet_indexes}}
{{> remove_tablet}}
{{/each}}</ul></div>{{/if}}
</div>

<h2>Tablets</h2>
<div class="pattern_info">
  {{> editable_field extendContext collection="patterns" property="threading_notes" data=threading_notes multiple=true button_text="Edit threading notes" placeholder_text="Tap \"Edit threading notes\" to enter threading notes"}}
</div>
<div class="tablets {{#if can_edit_pattern _id}}editable{{/if}}">{{> column_numbers}}
{{#each hole_indexes}}{{> threading_row}}
{{/each}}
{{> orientation}}
</div>
<br/>
<div class="notation">
<img src="../images/tablet_labels.png" alt="Tablet labels" title="Labels and turning direction" width="237" height="148"/>
</div><br/>
{{/if}}
</template>

<template name="pattern_row">
<div class="row">{{> row_number}}<ul>
{{#each weaving_row this}}
{{#with cell_style this}}
{{> pattern_cell}}
{{/with}}
{{/each}}
{{> remove_row}}
</ul></div>
</template>

<template name="remove_row">
{{#if can_remove_rows}}<li class="cell no_select remove_row" title="Delete this row" >X</li>{{/if}}
</template>

<template name="remove_tablet">
<li class="no_select remove_tablet" title="Delete this tablet" >X</li>
</template>

<template name="threading_row">
<div class="row"><span class="hole_number">{{hole_label this}}</span><ul>{{#each threading_hole this}}
{{#with cell_style}}
{{> pattern_cell}}
{{/with}}-->
{{/each}}</ul></div>
</template>

<template name="styles_palette">{{#if can_edit_pattern _id}}
<div id="styles_palette" class="{{#if single_column}}single_column{{/if}} {{editing_text}} {{show_special_styles}}">
<div class="styles">
<div class="edit_style {{editing_style}}">
<h2>Background</h2>
<div class="colorpicker_holder"><input type="text" id="background_colorpicker"></div>
<h2>Thread</h2>
<div class="colorpicker_holder"><input type="text" id="line_colorpicker"></div>
<div class="strokes">
  <div class="forward {{#if equals stroke "forward"}}on{{/if}}"></div>
  <div class="backward {{#if equals stroke "backward"}}on{{/if}}"></div>
  <div class="v_left {{#if equals stroke "v_left"}}on{{/if}}"></div>
  <div class="v_center {{#if equals stroke "v_center"}}on{{/if}}"></div>
  <div class="v_right {{#if equals stroke "v_right"}}on{{/if}}"></div>
</div>
</div>
<div class="pagination"><ul>
{{#if single_column}}
<li class="styles_1 no_select {{is_selected_style_palette "styles_1"}}"><a href="#">Styles 1</a></li>
<li class="styles_2 no_select {{is_selected_style_palette "styles_2"}}"><a href="#">Styles 2</a></li>
{{else}}
<li class="all_styles no_select {{is_selected_style_palette "all_styles"}}"><a href="#">Styles</a></li>
{{/if}}
<li class="special no_select {{is_selected_style_palette "special"}}"><a href="#">Special</a></li>
</ul></div>

<input type="button" id="edit_style_button" class=" {{editing_style}}" value="Edit style">
<div class="box {{style_page_class}}">{{#each style_pages}}<ul class="row style">{{#each styles this}}{{#with cell_style}}{{> style_cell}}{{/with}}{{/each}}</ul>{{/each}}
<div class="special_styles"><ul class="row special">{{#each special_styles}}{{#with cell_style}}{{> style_cell}}{{/with}}{{/each}}</ul></div></div></div></div>
{{/if}}</template>

<template name="style_cell">
<li class="cell no_select {{is_selected_style style}}" style="background-color: {{background_color}}; background-image: url('{{image}}')">
{{#if equals stroke "forward"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#forward_stroke_symbol" x="0" y="0"/>
</svg>
{{else}}
{{#if equals stroke "backward"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#backward_stroke_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals stroke "v_left"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#v_left_stroke_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals stroke "v_center"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#v_center_stroke_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{#if equals stroke "v_right"}}
<svg viewBox="0 0 256 256">
    <use style="fill: {{line_color}}; stroke: #000000;" xlink:href="#v_right_stroke_symbol" x="0" y="0"/>
</svg>
{{/if}}
{{/if}}
</li>
</template>

<template name="orientation">
<div class="row orientation {{#if can_edit_pattern _id}}editable{{/if}}"><span class="spacer"></span><ul>
{{#each tablet_orientation}}
<li class="no_select {{style_orientation orientation}}" title="Click to change orientation"><span class="line"></span></li>
{{/each}}</ul></div>
<div class="hint"><span class="spacer"></span>Slope of line = angle of tablet viewed from above</div>
</template>

<template name="pattern_not_found">
<h2>Pattern not found: {{id}}</h2>
</template>
