/* *** Left column *** */
#left_column {
  position: relative;
  left: -16px;
  top: -16px;
  float: left;
  width: 200px;
  background-color: #FFFFFF;
}

#main_column {
  margin-left: 200px;
}

.home .introduction {
  max-width: 660px;
  margin: 0 0 16px 0;
}

.home .introduction .notice {
  font-size: 14px;
  color: #666666;
}

.home .warning {
  width: 600px;
  margin: 0 0 16px 0;
  color: #FF3333;
}

.home .donate_paypal {
  float: right;
  margin-top: 16px;
}

/* *** New Pattern form *** */
#new_pattern {
  width: 500px;
  background-color: #7580ac;
  color: #FFFFFF;
  border: 1px solid #7580ac;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#new_pattern h2 {
  text-align: center;
  color: #FFFFFF;
  font-size: 100%;
  font-weight: bold;
}

#new_pattern form {
  padding: 0 16px 16px 16px;
  overflow: hidden;
}

#new_pattern input[type=text] {
  width: 250px;
}

#new_pattern label {
  float: left;
  width: 4em;
  margin-right: 16px;
}

/* choose which type of pattern edit mode, simulation or freehand */
#new_pattern .edit_mode {
  width: 196px;
  float: left;
  border: 1px solid #AAAAAA;
  padding: 16px;
  background-color: #FFFFFF;
  color: #424A6C;
  border-radius: 4px;
}

#new_pattern .edit_mode:first-of-type {
  margin-right: 8px;
}

#new_pattern .edit_mode .top {
  min-height: 100px;
}

#new_pattern .edit_mode.selected {
  /*border: 1px solid #5555FF; */
  /* uncomment to select edit mode */
}

#new_pattern .edit_mode h3 {
  text-align: center;
  font-weight: bold;
}

#new_pattern .edit_mode .hint {
  font-size: 14px;
  color: #333333;
}

#new_pattern input[type="submit"] {
  text-align: center;
}

#new_pattern .instruction {
  padding: 16px;
}

/* *** Category header *** */
.home h2 {
  margin-bottom: 8px;
}

.home h2 a {
  position: relative;
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  width: 100%;
}

.home h2,
.home h2 .text {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #666666;
}

.home h2 .more {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  background-color: #3B5998;
  padding: 0 16px 0 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 2;
  display: inline-block;
}

.home h2 span a:hover,
.home h2 span a:active {
   background-color: #4F70BB;
}

/* *** Patterns list *** */
.home .wrapper {
  width: 100%;
  float: left
}

.home .results {
  overflow: hidden;
}

ul.patterns {
  display: inline;
  float: left;
  margin-bottom: 16px;
}

ul.patterns .pattern_thumbnail {
  display: inline;
  float: left;
  position: relative;
  height: 216px;
  margin-bottom: 16px;
  padding: 0;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(130,130,130,1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(130,130,130,1);
  box-shadow: 0px 2px 4px 0px rgba(130,130,130,1);
  z-index: 10;
}

ul.patterns .pattern_thumbnail .main {
  position: relative;
  padding: 8px;
  height: 160px;
}

ul.patterns .pattern_thumbnail .main a {
  display:block;
  height: 163px;
}

ul.patterns .pattern_thumbnail a {
  text-decoration: none;
  color: #333333;
}

ul.patterns .pattern_thumbnail h3 {
  padding: 0 0 2px 0;
  display: block;
  overflow: hidden;
  height: 24px;
  color: #3B5998;
  font-weight: bold;
  white-space: nowrap; 
  text-overflow: ellipsis;
  white-space: pre-line;
  cursor: pointer;
}

ul.patterns .pattern_thumbnail .description p,
ul.patterns .pattern_thumbnail .description p strong {
  display: block;
  height: 32px;
  font-size: 14px;
  margin: 0 0 4px 0;
  overflow: hidden;
  white-space: pre-line;
  color: #333333;
  line-height: 1.2;
}

ul.patterns .pattern_thumbnail .tags {
  overflow: hidden;
  height: 24px;
  margin: 0 0 4px 0;
  text-overflow: ellipsis;
  white-space: pre-line;
  cursor: pointer;
  float: left;
  background: rgba(51,51,51,0.6);
  padding: 0 4px 0 4px;
  border-radius: 4px;
}

ul.patterns .pattern_thumbnail .tags span::after {
  content: " ";
}

ul.patterns .pattern_thumbnail .tags span {
  color: #FFFFFF;
  padding-right: 4px;
  font-size: 14px;
}

ul.patterns .pattern_thumbnail .stats {
  font-size: 14px;
  line-height: 1.2;
  clear: both;
  float: left;
  background: rgba(51,51,51,0.6);
  padding: 4px;
  border-radius: 4px;
}

ul.patterns .pattern_thumbnail .number_of_tablets .icon {
  float: left;
  width: 16px;
  height: 16px;
  background: url("../images/tablet_count_white.svg") transparent no-repeat right 0 top 0;
  background-size: 16px 16px;
}

ul.patterns .pattern_thumbnail .number_of_tablets {
  font-size: inherit;
}

ul.patterns .pattern_thumbnail .number_of_tablets .text {
  padding-left: 4px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: inherit;
}

ul.patterns .pattern_thumbnail .image {
  position: absolute;
  bottom: 6px;
  width:232px;
  height:48px;
  background-size:contain; 
  background-position:center center; 
  background-repeat:no-repeat; 
}

ul.patterns .pattern_thumbnail .image.auto_preview {
  position: absolute;
  bottom: 1px;
  width:106px;
  height:248px;
  margin-left: -114px;
  background-size:contain; 
  background-position:center center; 
  background-repeat:no-repeat;
  background-color: #333333;
  z-index:-1;

  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

ul.patterns .pattern_thumbnail .image.auto_preview.left {
  margin-left: 240px;

  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);

  transform-origin: 0 100%;
}



ul.patterns li .footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  border-top: 1px solid #CCCCCC;
  color: #999999;
  background-color: transparent;
  height: 40px;
}

ul.patterns li a.created_by {
  float: left;
  font-weight: bold;
  font-size: inherit;
  margin: 8px;
  color: #666666;
  cursor: pointer;
}

ul.patterns li .delete,
ul.patterns li .toggle_private {
  float: right;
}

ul.patterns li .delete span,
ul.patterns li .toggle_private span {
  float: right;
  width: 16px;
  height: 16px;
  margin: 12px;
  background: transparent no-repeat right 0 top 0;
  background-size: 16px 16px;
}

ul.patterns li .delete:active,
ul.patterns li .toggle_private:active {
  background-color: #A8E1FF;
}

ul.patterns li .delete span {
  background-image: url("../images/delete.svg");
}

ul.patterns li .toggle_private.private span {
  background-image: url("../images/private.svg");
}

ul.patterns li .toggle_private.public span {
  background-image: url("../images/public.svg");
}

/* *** Users list *** */
ul.users {
  display: inline;
  float: left;
  margin-bottom: 16px;
}

ul.users .user_thumbnail {
  display: inline;
  float: left;
  position: relative;
  height: 216px;
  margin-bottom: 16px;
  padding: 0;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(130,130,130,1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(130,130,130,1);
  box-shadow: 0px 2px 4px 0px rgba(130,130,130,1);
  z-index: 10;
}

ul.users .user_thumbnail .main {
  position: relative;
  padding: 8px;
  height: 200px;
}

ul.users .user_thumbnail a {
  text-decoration: none;
  color: #333333;
  float: left;
  width: 100%;
  height: 100%;
}

ul.users .user_thumbnail h3 {
  padding: 0 0 2px 0;
  display: block;
  overflow: hidden;
  height: 24px;
  color: #3B5998;
  font-weight: bold;
  white-space: nowrap; 
  text-overflow: ellipsis;
  white-space: pre-line;
  cursor: pointer;
}

ul.users .user_thumbnail .description {
  display: block;
  height: 32px;
  font-size: 14px;
  margin: 0 0 4px 0;
  overflow: hidden;
  white-space: pre-line;
  color: #333333;
  line-height: 1.2;
}

ul.users .user_thumbnail .stats {
  font-size: 14px;
  line-height: 1.2;
}

ul.users .user_thumbnail .number_of_patterns .icon {
  float: left;
  width: 16px;
  height: 16px;
  background: url("../images/pattern_placeholder.png") #FFFFFF no-repeat right 0 top 0;
  background-size: 16px 16px;
}

ul.users .user_thumbnail .number_of_patterns {
  font-size: inherit;
}

ul.users .user_thumbnail .number_of_patterns .text {
  padding-left: 4px;
  color: #5F6A96;
  font-weight: bold;
  font-size: inherit;
}

ul.users .user_thumbnail .image {
  border: 1px solid #495277;
  position: absolute;
  bottom: 8px;
}

ul.users .user_thumbnail .image {
  font-size: 0;
}

/* *** Import file input *** */
#import_file_holder {
  display: none;
}

/* *** All patterns *** */
.home .filter,
.user .filter {
  margin: 16px 0 16px 0;
  color: #666666;
}

.home .filter input,
.user .filter input {
  padding: 4px;
  margin: 0 8px 0 8px;
  width: 3em;
  font-size: 16px;
  color: #666666;
}

.home .filter #reload_pages,
.user .filter #reload_pages {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}
