#pattern_preview .image_holder,
#pattern_images .image_holder {
  position: relative;
  float:left;
  margin: 0 0 0 0;
  /*border: 1px solid #7580ac;*/
  background: #FFFFFF;
  cursor: pointer;
}

#pattern_preview .image_holder {
  width: 600px;
}

#pattern_images .image_holder {
  width: 150px;
  height: 150px;
}

#pattern_preview .close,
#pattern_images .close {
  display: none;
}

#pattern_preview .image_info,
#pattern_images .image_info {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #888888;
  background-color: transparent;
  display: block;
  border-radius: 4px;
}

#pattern_preview .thumbnail,
#pattern_images .thumbnail {
  float: left;
  font-size: 0;
  width:100%;
}

#pattern_preview .image_holder .thumbnail .image {
  display:block;
  margin: 0 auto;
  max-width: 600px;
  max-height: 200px;
  background-size:contain; 
  background-position:center center; 
  background-repeat:no-repeat;
}

#pattern_images .image_holder .thumbnail .image {
  display:block;
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;;
  background-size:contain; 
  background-position:center center; 
  background-repeat:no-repeat;
}

#pattern_preview .image_holder .full_image,
#pattern_images .image_holder .full_image {
  display: none;
}

#pattern_preview .image_holder.full-size .full_image .wrapper,
#pattern_images .image_holder.full-size .full_image .wrapper {
  position: relative;
  margin: 0 auto;
  display: block;
  max-width: 95%;
  max-height:80%;
  top: 50%;
}

#pattern_preview .image_holder .full_image .image,
#pattern_images .image_holder .full_image .image {
  position: relative;
  background-size:contain; 
  background-position:center center; 
  background-repeat:no-repeat;
  max-width: 100%!important;
  max-height:100%!important;
  top: -50%;
}

#pattern_preview .image_holder.full-size .full_image,
#pattern_images .image_holder.full-size .full_image {
  display: block;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  font-size: 0;
  z-index: 201;
  background: rgba(0,0,0,0.9);
}

#pattern_preview .image_holder.full-size .close,
#pattern_images .image_holder.full-size .close {
  display: inline;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;
}

/* caption */
#pattern_preview .image_holder.full-size .caption,
#pattern_images .image_holder.full-size .caption {
  position: relative;
  top: -50%;
  width: 60vh;
  left: 50%;
  margin-top: 8px;
  color: #FFFFFF;
}

#pattern_preview .image_holder.full-size .box.editable_field,
#pattern_images .image_holder.full-size .box.editable_field {
  position: relative;
  width: 60vh;
  margin-left: -50%;
}

#pattern_preview .image_holder.full-size .editable_field .controls,
#pattern_images .image_holder.full-size .editable_field .controls {
  border-bottom: none;
  float: right;
  width: auto;
}

#pattern_preview .image_holder.full-size .editable_field .controls button,
#pattern_images .image_holder.full-size .editable_field .controls button {
  float: right;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0 8px;
  margin: 0 0 0 8px;
  line-height: 1.5;
  font-size: 100%;
}

#pattern_preview .image_holder.full-size .editable_field textarea.text_input,
#pattern_images .image_holder.full-size .editable_field textarea.text_input {
  height: 2em;
  line-height: 1;
  width: 100%;
  margin-top: 0;
}

#pattern_preview .image_holder.full-size .editable_field input.text_input,
#pattern_images .image_holder.full-size .editable_field input.text_input {
  width: 100%;
}

#pattern_preview .image_holder.full-size .editable_field .content,
#pattern_images .image_holder.full-size .editable_field .content {
  display: block;
  margin: 0
}

.editable #pattern_preview .image_holder.full-size .editable_field .content,
.editable #pattern_images .image_holder.full-size .editable_field .content {
  margin-right: 150px;
}

#pattern_preview .image_holder.full-size .editable_field .content .text,
#pattern_images .image_holder.full-size .editable_field .content .text {
  display: block;
  width: 100%;
  white-space: pre-line;
}


#pattern_preview .image_holder.full-size .editable_field .content p,
#pattern_images .image_holder.full-size .editable_field .content .p {
  text-align: center;
}

#pattern_preview .image_holder.full-size .editable_field .content .text a,
#pattern_images .image_holder.full-size .editable_field .content .text a {
  text-decoration: underline;
}

.editable_field .error p {
  color: #FF3333;
  font-size: 90%;
}

#pattern_preview .image_holder.full-size  .editable_field .hint,
#pattern_images .image_holder.full-size  .editable_field .hint {
  display:none;
}

.editable_field .hint a {
  font-size: 100%;
  color: #666666;
}

.editable_field .hint ul
{
  list-style: none;
}

.editable_field ul {
  list-style: disc;
  margin-left: 1em;
  padding-left: 1em;
}

.editable_field ol {
  list-style: decimal;
  margin-left: 1em;
  padding-left: 1em;
}
