/* *** Pattern *** */
.pattern,
.tablets {
  clear: both;
  float: left;
  margin-bottom: 20px;
  padding: 16px 0 16px 0;
}

.pattern .row,
.tablets .row {
  clear: both;
  float: left;
  white-space: nowrap;
  position: relative;
  color: #000000;
  font-size: 0;
}

.pattern .row_number,
.pattern .spacer,
.tablets .spacer,
.tablets .hole_number {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: top; /* prevents empty span from changing layout */
}

.pattern .row ul,
.tablets .row ul {
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999999;
  list-style: none;
  font-size: 0;
  vertical-align: top; /* prevents empty span from changing layout */
}

.weave .pattern .row ul {
  border-color: #000000;
}

.pattern .row:nth-child(2) ul,
.tablets .row:nth-child(2) ul {
  border-top: 1px solid #999999;
}

.weave .pattern .row:nth-child(2) ul {
  border-color: #000000;
}

.pattern .row .cell,
.pattern .row .remove_tablet,
.pattern .row .remove_row,
.pattern .row.column_number li,
.tablets .row .cell,
.tablets .row.column_number li,
.tablets .row.orientation li {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-left: 1px solid #999999;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  vertical-align: top; /* prevents empty span from changing layout */
  position: relative;
  -webkit-print-color-adjust: exact;
}

.weave .pattern .row .cell,
.weave .pattern .row.column_number li {
  border-color: #000000;
}

.pattern .row .cell,
.tablets .row .cell {
  background-size: 32px 32px;
}

.pattern.editable .cell:active,
.tablets.editable .cell:active,
.remove_tablet:active,
.remove_row:active,
.orientation.editable li:active {
  background-color: #9999FF !important;
}

.pattern.editable .row li.remove_tablet,
.pattern.editable .row li.remove_row,
.pattern.editable .row li.cell,
.tablets.editable .row li.cell,
.tablets.editable .row.orientation li {
  cursor: pointer;
}

.pattern.editable .row li.remove_tablet,
.pattern.editable .row li.remove_row {
  background-color: #FFFFFF;
  color: #FF3333;
}

.pattern .row.column_number ul {
  border: none;
  color: #000000;
}

.pattern .row.column_number li,
.tablets .row.column_number li {
  border-left: 1px solid rgba(0,0,0,0);
}

/* *** SVG warp *** */
#template_warp_svgs {
  display: none;
}

.cell svg {
  width: 32px;
  height: 32px;
}

.pattern .row .cell:last-child,
.pattern .row .remove_tablet:last-child,
.tablets .row .cell:last-child {
  border-right: 1px solid #999999;
}

.weave .pattern .row .cell:last-child {
  border-color: #000000;
}

/* Orientation */
.tablets .row.orientation ul {
  margin-top: 4px;
  border-color: rgba(0,0,0,0);
}
.tablets .row.orientation li {
  border-color: rgba(0,0,0,0);
}

.tablets .row.orientation .orientation_z .line,
.tablets .row.orientation .orientation_s .line {
  position: absolute;
  width: 100%;
  height: 10%;
  left: -2%;
  top: 40%;
  right: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333333;
  background-color: #333333;
}

.tablets .row.orientation li.orientation_z .line {
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.tablets .row.orientation .orientation_s .line {
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.tablets .hint {
  clear: both;
  text-align: left;
}

/* Notation - images that explain threading etc */
.notation {
  clear: both;
}

.notation img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;  
}


/* Auto turn sequence */
.auto_directions {
  overflow: hidden;
  max-width: 600px;
}

.auto_directions .direction {
  float: left;
  position: relative;
  min-width: 26px;
  min-height: 26px;
  line-height: 26px;
  border: 1px solid #424A6C;
  border-radius: 4px;
  margin: 4px 4px 0 0;
  padding: 2px;
  background-color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

 .auto_directions .direction .turn_number {
  position: absolute;
  bottom: 0;
  left: 1px;
  font-size: 9px;
  line-height: 1.1;
  color: #666666;
  text-align: left;
}
