body.print {
  float: left;
  overflow: auto;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  padding: 16px;
}

body.print h1 {
  clear: both;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

body.print h2 {
  clear: both;
  font-weight: bold;
  font-size: 18px;
}

body.print p {
  text-align: left;
  margin: 0 0 8px 0;
}

/* info section - key, weaving notes */
.print .info {
  margin: 16px 0 0 0;
}

.print .info .key h3 {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  font-size: 16px;
}

.print .info .key p {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  font-size: 16px;
}

.print .info .key .cell {
  float:left;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 8px;
  background: #FFFFFF;
  border: 1px solid #999999;
  line-height: 32px;
}

.print .info .key .cell.backward {
  background: #BBBBBB;
}

.print .info .key p:not(:first-of-type) {
  padding-left: 16px;
}
