.no_select,
.no_select,
.no_select:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
}

/* required for "markdown" package to show as bold text */
strong {
  font-weight: bold;
}

/* *** Structure *** */
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#width {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#header {
  height: 3em;
  background-color: #7580ac;
  color: #FFFFFF;
  position: absolute;
  z-index: 200;
  width: 100%;
  
}

#content {
  margin: 0 0 0 0;
  padding: 0;
  float: left;
  height: 100%;
  min-width: 100%;
}

/* extra div provides padding without forcing horizontal scroll */
#content > .inner_tube {
  padding: 16px;
  margin-top: 70px;
}

/* *** Header *** */
#header .header_left {
  float: left;
  position: relative;
  line-height: 2.7;
  margin: 0 8px 0 8px;
  z-index: 2;
}

#header .header_left a {
  color: #FFFFFF;
  margin-right: 8px;
}

#header h1 {
  position: absolute;
  width: 100%;
  line-height: 2.7;
  text-align: center;
}
/*
#header h1 span {
  display: block;
  width: 220px;
  margin: 0 auto 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

#header .header_right {
  float: right;
}


/* Search box */
#header #search {
  float: left;
  margin: 4px 8px 0 0;
  position: relative;
  z-index: 2;
}

/* search input */
#header #search input.easy-search-input {
  padding: 4px;
  background: url("../images/search.png") #FFFFFF no-repeat right 2px top 2px;
  color: #666666;
  width: 120px;
  line-height: 1.5;
}

#header #search.narrow input.easy-search-input {
  position: absolute;
  right: 0;
  width: 20px;
}

#header #search.narrow input.easy-search-input:focus {
  position: absolute;
  right: 0;
  width: 120px;
}

#header #search.wide input.easy-search-input,
#header #search.wide input.easy-search-input:focus {
  width: 250px;
  position: static;
}

/* search results */
#header #search div.results-wrapper {
  position: absolute;
  right: 0;
  width: 300px;
  background-color: #FFFFFF;
  color: #424A6C;
  border: 1px solid #7580ac;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
}


#header #search div.results-wrapper .no_results {
  line-height: 2;
  margin-left: 8px;
}

#header #search div.results-wrapper .no_results span.search_term {
  font-weight: bold;
}

#header #search.narrow div.results-wrapper {
  right: -90px;
  top: 2em;
}

#header #search div.results-wrapper h2 {
  padding: 0 0 0 8px;
  margin: 0;
  line-height: 1.5;
  font-size: 80%;
  color: #7580ac;
  background-color: #EEEEEE;
}

#header #search div.results-wrapper ul li {
  float: left;
  width: 100%;
  line-height: 1;
}

#header #search div.results-wrapper ul li a {
  text-decoration: none;
  color: #424A6C;
  float: left;
  width: 100%;
}

#header #search div.results-wrapper ul li a:focus,
#header #search div.results-wrapper ul li a:hover {
  background-color: #A8E1FF;
}

#header #search div.results-wrapper a .main_icon {
  float: left;
  height: 40px;
  width: 40px;
  margin: 4px 8px 4px 8px;
}

#header #search div.results-wrapper li.user_results a .main_icon {
  background: url("../images/user_placeholder.png") #FFFFFF no-repeat left top;
}

#header #search div.results-wrapper li.pattern_results a .main_icon {
  background: url("../images/pattern_placeholder.png") #FFFFFF no-repeat left top;
}

#header #search div.results-wrapper ul li a .username,
#header #search div.results-wrapper ul li a .name {
  display: block;
  margin: 7px 8px 0 0;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 95%;
  font-weight: bold;
}

#header #search div.results-wrapper li.pattern_results a .tablets_count,
#header #search div.results-wrapper li.pattern_results a .created_by {
  float: left;
  color: #999999;
  font-size: 85%;
  margin: 4px 16px 0 0;
  line-height: 1.5;
}

#header #search div.results-wrapper li.pattern_results a .tablets_count .icon,
#header #search div.results-wrapper li.pattern_results a .created_by .icon {
  float: left;
  height: 16px;
  width: 16px;
  margin: 0 4px 0 0;
}

#header #search div.results-wrapper li.pattern_results a .tablets_count .icon {
  background: url("../images/tablets_count.png") transparent no-repeat left top;
}

#header #search div.results-wrapper li.pattern_results a .created_by .icon {
  background: url("../images/created_by.png") transparent no-repeat left top;
}

#header #search div.results-wrapper a#load_more {
  text-decoration: none;
  color: #424A6C;
  float: left;
  line-height: 3;
  width: 100%;
}

#header #search div.results-wrapper a#load_more:hover,
#header #search div.results-wrapper a#load_more:focus {
  background-color: #424A6C;
  color: #FFFFFF;
}

#header #search div.results-wrapper a#load_more span.icon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 8px 8px 8px 8px;
  background: url("../images/load_more.png") transparent no-repeat left top;
}

#header #search div.results-wrapper a#load_more:hover span.icon,
#header #search div.results-wrapper a#load_more:focus span.icon {
  background-position: 0 -32px;
}

#header #search div.results-wrapper a#load_more span.search_term {
  font-weight: bold;
}

/* Login */
#header #login-buttons {
  float: left !important;
  margin: 0 8px 0 8px;
  position: relative;
  z-index: 2;
  line-height: 2.5;
  list-style-type: none;
}

#header #login-dropdown-list {
  position: absolute;
  left: auto;
  top: 100%;
  right: 4px;
  margin-top: 4px;
}

#header #login-buttons .login-close-text {
  float: right;
}

#header .accounts-dialog .additional-link {
  font-size: 90%;
  padding: 8px 0 8px 0;
}

/* Options menu */
#header #menu {
  float: left;
  margin: 8px;
  position: relative;
  z-index: 2;
}

#header #menu input.menu_button {
  float: left;
  height: 24px;
  width: 24px;
  border: none;
  background: url("../images/menu.png") transparent;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

#header #menu div.menu_list {
  display: none;
}

#header #menu.open div.menu_list {
  display: block;
  position: absolute;
  right: 0;
  top: 28px;
  background: #FFFFFF;
  border: 1px solid #7580ac;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#header #menu.open div.menu_list ul {
  float: left;
  border-bottom: 1px solid #7580ac;
}

#header #menu.open div.menu_list ul:last-child {
  border-bottom: none;
}

#header #menu.open div.menu_list ul li {
  float: left;
}

#header #menu.open div.menu_list ul li a {
  float: left;
  line-height: 2;
  padding: 8px;
  width: 260px;
  color: #222222;
  
  text-decoration: none;
}

#header #menu.open div.menu_list ul li a:active,
#header #menu.open div.menu_list ul li a:focus {
  background-color: #A8E1FF;
}

#header #menu.open div.menu_list ul li:last-child a {
  
}

/* *** Import file input *** */
#import_pattern_holder {
  display: none;
}

/* 'Show pattern as text' dialog, e.g. JSON */
#pattern_as_text,
#print_hint,
#import_pattern_dialog {
  display: none;
}

#pattern_as_text.visible,
#print_hint.visible,
#import_pattern_dialog.visible {
  display: block;
  position: fixed;
  top: 24px;
  left: 50%;
  width: 90%;
  max-width: 500px;
  z-index: 210;
  color: #000000;
  background-color: transparent;
}

#pattern_as_text.visible .inner_tube,
#print_hint.visible .inner_tube,
#import_pattern_dialog.visible .inner_tube {
  position: relative;
  left: -50%;
  background: #FFFFFF;
  border: 1px solid #7580ac;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 16px 24px 16px 16px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
}

#pattern_as_text h2,
#print_hint h2,
#import_pattern_dialog h2 {
  text-align: center;
}

#pattern_as_text textarea {
  width: 100%;
  height: 300px;
}

#pattern_as_text input,
#print_hint input,
#import_pattern_dialog input {
  margin-bottom: 8px;
}

#pattern_as_text input.close,
#print_hint input.close,
#import_pattern_dialog input.close {
  float: right;
  margin-left: 8px;
}

#import_pattern_dialog .buttons.continue_holder,
#pattern_as_text .buttons.select {
  text-align: center;
}

#import_pattern_dialog .radio_button {
  display: block;
}

/* *** content *** */
h2 {
  clear: both;
  font-weight: bold;
  font-size: 100%;
  margin-top: 16px;
}

/* *** Connection status *** */
.trying_to_connect #header {
  height: 3em;
}

.trying_to_connect #content {
  margin-top: 6.5em;
}

#connection_status_holder {
  position: absolute;
  width: 100%;
  top: 3em;
  height: 3em;
  overflow: hidden;
  display: none;
}

.trying_to_connect #connection_status_holder {
  display: block;
}

#connection_status {
  position: absolute;
  width: 100%;
  background-color: #FFCC00;
  color: #000000;
  height: 3em;
  line-height: 3;
  
}

#connection_status .text {
  padding: 0 8px 0 8px;
  text-align: center;
}

/* *** loading spinner *** */
/* Allows spinner to sit in middle of viewport */
.loading #width {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.loading {
  overflow: hidden;
}

/* *** overlay spinner for loading template without changing route *** */
#spinner_box {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
}

#spinner_box .inner_tube {
  position: relative;
  left: -50%;
  top: -100px;

}

#spinner_box .inner_tube p {
  display: block;
  width: 260px;
  line-height: 5;
  background-color: rgba(117,128,172,0.9);
  color: #FFFFFF;
  font-size: 150%;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
