.view_pattern #content {
  margin-bottom: 0;
  color: #424A6C;
  float: none;
}

.view_pattern.editable #content {
  margin-bottom: 150px;
}

.view_pattern h2 {
  clear: both;
}

#pattern_preview,
#pattern_images {
  width:100%;
  float:left;
}

/* *** Pattern Info *** */
.pattern_info {
  max-width: 600px;
  width: 100%;
}

.pattern_info .box {
  /*clear: both;*/
  margin: 0 0 16px 0;
}

/* public private */
.pattern_info .controls {
  border-bottom: 1px solid #424A6C;
  float: left;
  width: 100%;
}

.pattern_info .controls button {
  float: right;
  background-color: transparent;
  border: none;
  color: #424A6C;
  cursor: pointer;
  padding: 8px 0 0 8px;
  margin: 0;
  line-height: 1.5;
  font-size: 80%;
}

/* number of tablets, created by */
.pattern_info .tablets_count,
.pattern_info .created_by {
  float: left;
  margin: 0 8px 0 0;
  line-height: 1;
}

.pattern_info .created_by {
  color: #424A6C;
  text-decoration: underline;
}

.pattern_info .tablets_count .icon,
.pattern_info .created_by .icon {
  float: left;
  height: 16px;
  width: 16px;
  margin: 0 8px 0 0;
}

.pattern_info .tablets_count .icon {
  background: url("../images/tablet_count.svg") transparent no-repeat left top;
  background-size: 16px 16px;
}

.pattern_info .created_by .icon {
  background: url("../images/created_by.png") transparent no-repeat left top;
}

/* tags */
.pattern_info .tags .text {
  float: left;
  line-height: 2;
}

.pattern_info .tags .selectize-control {
  margin-left: 60px;
}

.pattern_info .tags .tags {
  display: inline;
}

/* *** Toolbar *** */
#toolbar {
  position: relative;
  height: 64px; /* reserve space for buttons when window not scrolled */
  z-index: 3;
}

#toolbar .inner_tube {
  position: absolute;
  padding: 8px;
  background-color: #CCCCCC;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.38);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 3;
}

#toolbar button {
  float: left;
  padding: 4px;
  background-color: #EEEEEE;
  border: 1px solid #424A6C;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-right: 8px;
}

#toolbar button:last-child {
  margin-right: 0;
}

/* *** Styles *** */
#styles_palette {
  position: absolute;
  -webkit-backface-visibility: hidden;
  bottom: 0;
  left: 0px;
  width: 100%;
  background-color: #CCCCCC;
  z-index: 20;
  padding: 8px 0 8px 0;
}

/* On touch devices and short screens, hide the styles palette when editing text to make sure it doesn't interfere with soft keyboard / text area */
.touchevents #styles_palette.editing_text {
  display: none;
}

@media screen and (max-height: 600px) {
  #styles_palette.editing_text {
  display: none;
}
}

#styles_palette .styles {
  position: relative;
  margin: 0 8px 0 8px;
  padding: 0 0 0 0;
  width: 705px;
}

#styles_palette h2 {
  font-weight: normal;
  font-size: 90%;

}

.styles input#edit_style_button {
  float: right;
  border: 1px solid #424A6C;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; 
  color: #424A6C;
  background-color: #FFFFFF;
  font-size: 100%;
  line-height: 1.5;
  padding: 4px 8px 4px 8px;
  margin: 0 8px 0 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.styles input#edit_style_button.editing {
  background-color: #424A6C;
  color: #FFFFFF;
}

.styles .pagination {
  display: block;
  padding: 0;
  margin: 0 8px 0 0;
  border-radius: 0;
}

.styles .pagination ul {
  float: left;
  border: 1px solid #424A6C;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; 
  font-size: 0;
  overflow: hidden;
}

.styles .pagination ul li {
  display: inline;
  margin: 0;
}

.styles .pagination ul li a {
  color: #424A6C;
  padding: 4px 8px 4px 8px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-right: 1px solid #424A6C
}

.styles .pagination ul li:last-child a {
  border-right: none;
}

.styles .pagination ul li.selected a {
  background-color: #424A6C;
  color: #FFFFFF;
}

#styles_palette.single_column .styles {
  float: left;
  width: 352px;
}
/*
#styles_palette .styles .box {
  clear: both;
  height: 90px;
  overflow: hidden;
  position: relative;
}*/

#styles_palette .styles .box {
  clear: both;
  height: 90px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}


#styles_palette.single_column .styles .box.styles_2 .row {
  position: relative;
  top: -99px;
}

.styles ul.row {
  display: inline-block;
  width: 352px;
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.styles ul.row li.cell {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  border: 2px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  line-height: 32px;
  text-align: center;
  margin: 4px 8px 4px 0;
  padding: 0;
  font-size: medium;
  cursor: pointer;
  background-size: 32px 32px;
}

.styles ul.row li.cell.selected {
  border-color: #5555FF;
}

/* Special styles */
.styles .special_styles {
  display: none;
}

#styles_palette.show_special_styles .styles {
  width: 352px;
}

#styles_palette.show_special_styles .special_styles {
  display: block;
}

#styles_palette.show_special_styles .box > .row {
  display: none;
}

#styles_palette.show_special_styles #edit_style_button {
  display: none;
}

/* *** Edit Style *** */
.edit_style {
  position: absolute;
  right: 8px;
  padding: 0 8px 8px 8px;
  width: 280px;
  border: 1px solid #7580AC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  background-color: #FFFFFF;
}

.edit_style.editing {
  display: block;
}

.edit_style .colorpicker_holder {
  float: left;
}

.edit_style .warps {
  float: left;
  overflow: hidden;
  margin-left: 8px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.edit_style .warps li {
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  border-left: 1px solid black;
  background-color: #FFFFFF;
  cursor: pointer;
}

.edit_style .warps li:first-child {
  border: none;
}

.edit_style .warps li svg {
  width: 32px;
  height: 32px;
}

.edit_style .forward.on,
.edit_style .backward.on,
.edit_style .v_left.on,
.edit_style .v_center.on,
.edit_style .v_right.on {
  background-color: #424A6C;
}

.edit_style .forward.on:before,
.edit_style .backward.on:before {
  border-top: 2px solid #FFFFFF;
}

.edit_style .v_left.on:before,
.edit_style .v_center.on:before,
.edit_style .v_right.on:before {
  border-left: 2px solid #FFFFFF;
}
